.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;


  header {
    padding: 1.5rem 0;
    width: 80%;
    border-bottom: 1px solid lightgray;
  }

  main {
    width: 100%;
    .features {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      ul {
        .checkbox {
          display: flex;
          align-items: center;
          margin: 0.5rem;

          .unchecked {
            width: 20px;
            height: 20px;
            background-color: white;
            border: 1px solid black;
            margin-right: 0.4rem;
            border-radius: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .checked {
            width: 10px;
            height: 10px;
            background-color: black;
            border: 1px solid black;
            border-radius: 10%;
          }
        }
      }
    }
    
  }

  footer {
    padding: 1.5rem 0;
    width: 80%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: white;
      border: 1px solid black;
      padding: 0.5rem 2rem;
    }
  }
}

